<div th:fragment="pagination">	
	<div class="margin">
	<script type="text/javascript">
		function jumpPage(obj) {
			$(obj).parents('form').find('input[name="currentPage"]').val($(obj).attr('data-num'));
			$(obj).parents('form').submit();
		}
	</script>
	<input type="hidden" name="currentPage" value="${page.currentPage}" />
	<ul class="pagination border-main">
			<li th:if="${page.currentPage!=1 and page.totalPage!=0}"><a href="javascript:;" onclick="jumpPage(this);" data-num="1" title="首页">«</a></li>
			<li th:each="num:${page.nums}" th:class="${num==page.currentPage or page.currentPage==0?'active':'' }"><a href="javascript:;" onclick="jumpPage(this);" th:attr="data-num=${num }" th:text="${num }"></a></li>
			<li th:if="${page.currentPage!=page.totalPage and page.totalPage!=0}"><a href="javascript:;" onclick="jumpPage(this);" th:attr="data-num=${page.totalPage}" title="末页">»</a></li>
		<li><a>共<span class="text-yellow" th:text="${page.totalPage }"></span>页</a></li>
	</ul>
	</div>
</div>