<div th:fragment="style">	
<link rel="stylesheet" th:href="@{/static/css/pintuer.css}" />
<link rel="stylesheet" th:href="@{/plugins/perfectScrollbar/perfect-scrollbar.min.css}" />
<link rel="stylesheet" th:href="@{/plugins/umeditor/themes/default/css/umeditor.css}" />
<script type="text/javascript">var ctx = "[[@{/}]]";</script>
<script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/js/pintuer.js}"></script>
<script type="text/javascript" th:src="@{/static/js/zcommon.js}"></script>
<script type="text/javascript" th:src="@{/plugins/perfectScrollbar/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/plugins/laydate/laydate.js}"></script>
<script type="text/javascript" th:src="@{/plugins/umeditor/umeditor.config.js}"></script>
<script type="text/javascript" th:src="@{/plugins/umeditor/umeditor.min.js}"></script>
</div>