<link rel="stylesheet" href="${ctxPath }/static/css/pintuer.css" />
<link rel="stylesheet" href="${ctxPath }/plugins/perfectScrollbar/perfect-scrollbar.min.css" />
<link rel="stylesheet" href="${ctxPath }/plugins/umeditor/themes/default/css/umeditor.css" />
<script type="text/javascript">var ctx = "${ctxPath }";</script>
<script type="text/javascript" src="${ctxPath }/static/js/jquery.js"></script>
<script type="text/javascript" src="${ctxPath }/static/js/pintuer.js"></script>
<script type="text/javascript" src="${ctxPath }/static/js/zcommon.js"></script>
<script type="text/javascript" src="${ctxPath }/plugins/perfectScrollbar/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="${ctxPath }/plugins/layer/layer.js"></script>
<script type="text/javascript" src="${ctxPath }/plugins/laydate/laydate.js"></script>
<script type="text/javascript" src="${ctxPath }/plugins/umeditor/umeditor.config.js"></script>
<script type="text/javascript" src="${ctxPath }/plugins/umeditor/umeditor.min.js"></script>